div {
  border: 10px solid gray;
  margin: 20px;
}

form {
  text-align: center;
  margin: 30px 0;
}

#keyword {
  width: 300px;
  height: 30px;
}

#info {
  margin-left: 10px;
  height: 30px;
  width: 100px;
}

ul {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  align-items: center;
  justify-content: center;
}

li {
  margin-right: 30px;
  margin-bottom: 30px;
}

img {
  width: 300px;
  height: 300px;
}

p {
  line-height: 2em;
}